body {
    font-family: var(--main-font);
}

main {
    margin-top: 111px;
}

#about-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 196.19%;
    color: #241400;
    margin-bottom: 11px;
}

#about-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content {
    line-height: 196.19%;
    margin-right: 50px;
}

