body {
    font-family: var(--main-font);
    background-color: var(--bg);
}

main {
    margin-top: 111px;
}

#about-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 196.19%;
    color: #241400;
    margin-bottom: 11px;
}

#about-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content {
    line-height: 196.19%;
    margin-right: 50px;
    flex: 6;
}

#image {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#image img {
    border-radius: 5px;
    max-width: 100%;
    width: 570px;
    height: 310px;
}

#about-container {
    margin-top: 170px;
}

#about-title-mobile {
    text-align: center;
    display: none;
    font-weight: 900;
    font-size: 25px;
    line-height: 196.19%;
}