/* Global */
a{
    color: #FFF;
}
a:hover{
    color: #FFF;
    text-decoration: none;
}

/* this two classes for showing and hiding panels and smooth effect */
.show{display: block !important;}
.hide{display: none !important;}


/* Admin login. */
.admin-login-area {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-red);
}

.login-logo img {
    
    margin-top: 30px;
    margin-left: 32px;
}

.admin-form {
    margin-top: 10%;
    width: 30%;
    height: 50%;
    background-color: #FFF;
    display: none;
}

#header {
    margin-top: 69px;
    margin-bottom: 17px;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}

.admin-form form input,
#login-btn {
    width: 80%;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #CECECE;
}

#userName {
    margin-bottom: 34px;
}
#password {
    margin-bottom: 84px;
}
#login-btn {
    margin-bottom: 34px;
    background-color: var(--color-orange);
    border-radius: 5px;
    color: #FFF;
}
#fails-box{
    width: 80%;
    display: none;
}
<<<<<<< HEAD:assets/style/admin.css
/* .hide{display: none;} */ 
=======

>>>>>>> 4f812d2a824fe24a03e07f313670c205edd9f3ce:assets/css/admin.css

/* Admin login end. */

/* ================ */


/* Admin Control panel */

.admin-area{
    width: 100%;
    background-color: #FFF;
}

.admin-page-logo{
    margin-top: 74px;
    width: 80%;
}

.right-shortcut{
    width: 20%;
    height: 100vh;
    background-color: var(--color-red);
}
.main{
    width: 80%;
    height: 100%;
    margin-left: 3.2rem;
    margin-top:10%;
}
.lists{
    margin-top: 55px;
    width: 80%;
}
.lists a {
    padding: 10px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
}
.lists a img{
    margin-right: 11px;
}
.lists button{
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding: 10px;
    font-weight: 400;
    color: #FFF;
}

.lists *{
    transition: all 300ms;
}

.lists *:hover{
    background-color: rgba(0,0,0,.3);
    border-radius: 3px;
}
.lists button img{
    margin-right: 11px;
}

.admin-area{
    background-color: #FFF;
}

.admin-panel{
    display: block !important;
}

/* Home section */
#home > h2:not(.book-form-tag), 
#about > h2,
 #join-us > h2,
 #contact > h2  {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-gray);
}


#home > span {
    font-size: 18px;
    color: var(--color-gray);
    margin-bottom: 6px;
}

.search {
    width: 25%;
    border-radius: 30px;
}

.input-group {
    border-radius: 3.4rem;
    margin-right: 2rem;
}

.form-group > input,
 .form-group > textarea,
 .form-group > .form-control,
 .form-group > .button {
    width: 85%;
}

.button {
    width: 85%;
    display: block;
    background-color: var(--button-color);
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--color-white)
}


.search-book-input button {
    display: block;
    margin-left: 7px;
    border-radius: 30px;
    background-color: var(--color-orange);
    color: #FFFFFF;
    padding: 8px 23px ;
    border: none;
    outline: none;
}

.button {
    padding: 12px;
}

#join-us, #contact {
    margin-top: 5rem;
}

#join-us .table {
    width: 40%;
}

#contact table {
    width: 85%;
}

table thead {
    background-color: var(--color-red);
    color: var(--color-white)
}

