body {
    font-family: var(--main-font);
    position: relative;
    background-color: var(--bg);
}


#catalog {
    margin-top: 200px;
}

.book {
    margin: 10px 15px;
    position: relative;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.book-name {
    margin-top: 47px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #241400;

}

.book-author {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 196.19%;
    color: #241400;
    margin-bottom: 16px;
    margin-top: 10px;
}

.book-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.read-more-btn {
    width: 80%;
    margin-bottom: 20px;
    background: #E16A00;
    box-shadow: 0px 3px 8px rgba(225, 106, 0, 0.19);
    border-radius: 3px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 7px;
}

.new-badge {
    padding: 5px 7px;
    background: #EB5757;
    box-shadow: 0px 3px 8px rgba(225, 106, 0, 0.19);
    border-radius: 3px;
    font-weight: 900;
    font-size: 12px;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 0;
}

.isNew {
    opacity: 1;
}

.isOld {
    opacity: 0;
}

.catalog-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#categories {
    flex: 7;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

#catalog-title {
    flex: 3;
    font-weight: 900;
    font-size: 25px;
    color: #241400;
}

.category-btn {
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0 20px;
    transition: all 222ms;
}

.category-btn:hover {
    color: var(--color-orange);
}

.books {
    display: flex;
    width: 100%;
    margin-top: 50px;
    position: relative;
}

.slick-prev,
.slick-next {
    position: absolute;
    z-index: 50;
    background-color: transparent;
    border: none;
    outline: none;
}

.slick-prev {
    right: -60px;
    top: 190px;
}

.slick-next {
    left: -60px;
    top: 190px;
}

#bestseller-books {
    margin-top: 128px;
}

#section-title {
    font-weight: 900;
    font-size: 25px;
    line-height: 196.19%;
    color: #241400;
    text-transform: uppercase;
    text-align: center;
}