body {
    font-family: var(--main-font);
    background-color: var(--bg);
}

main {
    margin-top: 102px;
}

#contact-us-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 196.19%;
    color: #333333;
    margin-bottom: 28px;
}

input {
    width: 100%;
    height: 75px !important;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    margin: 10px;
}

input[type=submit] {
    background-color: var(--color-orange);
    color: var(--color-white);
    margin-top: 42px;
}

input[type=submit]:active input[type=submit]:focus {
    background-color: var(--color-orange);
    background-color: none;
}


.iti.iti--allow-dropdown {
    width: 100%
}

.phone-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

#email {
    margin-left: 6px;
}

#phone{
    margin-left: 5px;
}