@import url("./variable.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./media-queries.css");
body{scroll-behavior: smooth;}
main{min-height: 100vh;}
.current{
    color: #E16A00 !important;
    font-weight: bold;
}