/* tablets */
@media screen and (max-width: 992px) {
    #header nav {
        display: none;
    }

    #hamburger-btn {
        display: inline-block;
    }

    #join-btn span {
        display: none;
    }

    .admin-form {
        width: 60%;
    }

    .books-from-area {
        flex-direction: column;
    }

    .books-from-area .title-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .books-from-area .title-area p {
        text-align: center;
    }

    #btn-catalog {
        width: 90vw !important;
    }

    #cover-image {
        justify-content: center !important;
        margin-top: 39px;
    }

    #cover-image>img {
        width: 100%;
    }

    .title-area #title-header {
        font-size: 35px;
    }

    .statistics-area .area {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
    }

    .statistics-area {
        flex-direction: column;
    }

    .links {
        display: none !important;
    }

    .footer-mobile-view {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-mobile-view li {
        margin: 0 5px;
    }

    .footer-mobile-view a {
        font-size: 12px;
    }

    #main-footer-area {
        justify-content: center;
    }

    .footer-main-area {
        padding-top: 18px;
    }

    .footer-mobile-view+div {
        padding-top: 39px;
        padding-bottom: 7px;
    }

    .catalog-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #categories {
        margin-top: 20px;
        width: 80%;
        padding: 15px;
    }

    .search-items-container {
        flex-direction: column;
    }

    .founded-book {
        margin-top: 50px;
    }

    .search-items {
        margin-right: 0 !important;
    }

    #searchThisBookName {
        width: 100%;
    }

    .form-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* mobile */

@media screen and (max-width: 640px) {
    .all-books-and-scroll {
        display: flex;
        flex-direction: column;
        text-align: start;

    }
    
    .scroll-bar ul {
        height: 40px;
    }

    .admin-form {
        margin-top: 94px;
        width: 90%;
    }

    .admin-form #header {
        font-size: 24px;
        margin-top: 24px;
    }

    #login-btn {
        font-size: 18px;
    }

    #userName,
    #login-btn,
    #password {
        width: 90%;
    }

    #password {
        margin-bottom: 24px;
    }

    #join-us-modal {
        width: 100%;
        padding: 5px !important;
    }

    #join-us-close-menu {
        margin-top: 43px;
        margin-right: 15px;
        margin-bottom: 100px;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    .join-form-items {
        padding: 24px !important;
    }

    .social-bar #header {
        font-size: 18px;
    }

    .social-bar img {
        width: 15%;
    }

    .social-bar-items {
        text-align: center;
    }
    #book-title{
        text-align: center;
        width: 100% !important;
    }
    #result {
        flex-direction: column !important;
        width: 500px !important;
        height: 900px !important;
        box-shadow: none !important;
        position: relative;
    }

    #result-image {
        margin-right: 0 !important;
        margin-bottom: 40px;
    }

    #result-image>img {
        width: 273.64px !important;
        height: 388px !important;
    }
    #result-details{
        text-align: center;
    }
    #results{
        width: 500px !important;
        height: 1100px !important;
        background-color: #FFF;
        position: relative;
    }
    .slick-slider #book-desc{
        width: 450px !important;
        position: absolute;
        bottom: -450px;
        right: 250px;
        z-index: 99999999999999999999999;
    }
}

@media screen and (max-width: 1024px) {

    .slick-prev,
    .slick-next {
        display: none !important;
    }
}

@media screen and (max-width: 576px) {
    #contact-us-items .form-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #contact .container {
        padding-right: 25px !important;
    }
}

@media screen and (max-width:1200px) {
    #search-area {
        flex-direction: column;
    }

    #search-area #title {
        text-align: center;
    }

    #form form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #form form * {
        width: 100%;
    }

    #form {
        margin-right: 0 !important;
    }

}
@media screen and (max-width: 400px) {
    #result{
        width: auto !important;
        overflow-x: hidden;
    }
}