/* index.html */
@media screen and (max-width: 992px) {
    header{
        margin-top: 16px;
    }
    #header nav{
        display: none;
    }
    #hamburger-btn{
        display: inline-block;
    }
    #join-btn span{
        display: none;
    }
}


/* catalog.html */

@media screen and (max-width: 480px) {
    .all-books-and-scroll {
        display: flex;
        flex-direction: column;
        text-align: start;

    }
    
    .scroll-bar ul {
        height: 40px;
    }
    
}

/* search.html */


/* contact.html */


/* about.html */


/* admin.html */

@media screen and (max-width: 1200px) {
    .admin-form{
        width: 60%;
    }
}
@media screen and (max-width: 640px){
    .admin-form{
        margin-top: 94px;
        width: 90%;
    }
    .admin-form #header{
        font-size: 24px;
        margin-top: 24px;
    }
    #login-btn{
        font-size: 18px;
    }
    #userName,
    #login-btn,
    #password{
        width: 90%;
    }
    #password{
        margin-bottom: 24px;
    }
}