body {
    font-family: var(--main-font);
    background-color: var(--bg);
}

#search-area {
    position: relative;
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
}

#form {
    margin-right: 70px;
}

#form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#book-name {
    width: 380px;
    padding: 15px 20px;
    margin-bottom: 60px;
}

#search-book-name-btn {
    width: 380px;
    height: 65px;
    background: #E16A00;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
}

#result {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    padding: 40px;
    margin-top: 90px;
    width: 801px;
    height: 504px;
    margin: 10px;

}

#book-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 196.19%;
    color: #241400;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

#book-author {
    font-weight: 400;
    font-size: 18px;
    line-height: 196.19%;
    color: #241400;

}

#result-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 40px;
}

#result-image>img {
    width: 220px;
    height: 306px;
}

#book-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 196.19%;
    color: #241400;
    width: 100%;
    height: 70%;
    overflow-y: hidden;
}

#title {
    font-weight: 700;
    font-size: 36px;
    color: #241400;
    margin-bottom: 40px;
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-not-found {
    background-color: #FFF;
    box-shadow: 0 0 10px #000;
    padding: 60px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #ccc;
    position: relative;
    margin-top: 60px;
}

.book-not-found p {
    margin-bottom: 0 !important;
    color: #E16A00;
    font-weight: bold;
    font-size: 18px;
}

#close {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 3px 10px;
    border-bottom-left-radius: 5px;
    position: absolute;
    right: 6px;
    top: 6px;
    color: #FF0000;
    font-weight: bold;
    transform: scale(1.5);
    cursor: pointer;
    user-select: none;
    transition: all 200ms;
}

#close:hover {
    background-color: rgba(0, 0, 0, 0.40);
}