body {
    font-family: var(--main-font);
    background-color: var(--bg);
}

#search-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 196.19%;
    color: #241400;
    margin-bottom: 44px;
}

#search {
    margin-top: 121px;
}

#book-img {
    width: 220px;
    height: 306px;
}

#searchThisBookName {
    padding: 15px 20px;
    margin-bottom: 44px;
}


.search-items-container {
    display: flex;
}

.search-items {
    margin-right: 40px;
}

#searchBook {
    width: 100%;
    background: #E16A00;
    border-radius: 5px;
    color: #FFF;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #ccc;
    transition: all 222ms;
}

#searchBook:hover {
    opacity: 0.8;
}

#book-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 196.19%;
    color: #241400;
}

#book-author {
    font-weight: 400;
    font-size: 18px;
    line-height: 196.19%;
    color: #241400;
    margin-bottom: 10px;
}

.book-div {
    display: flex;
    margin-right: 37px;
    align-items: center;
    width: 30%;
}

.founded-book {
    padding: 30px 18px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}