 :root {
     --main-font: 'Montserrat', sans-serif;
     --roboto-font-weight-400: 'Roboto', sans-serif;
     --color-red: #720418;
     --color-orange: #E16A00;
     --color-white: #FFFFFF;
     --color-brown: #391F00;
     --color-background: #fffbf5;
     --color-black: #241400;
     --color-gray: #333333;
     --button-color: #FF8B00;
     --bg: #FFFAF5;
 }