footer {
    margin-top: 70px;
    background-color: var(--color-brown);
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left-side {
    display: flex;
}

.footer-left-side img {
    color: green
}

.footer-right-side {
    display: flex;
    margin-top: 5.6rem;
}

.footer-right-side ul {
    margin-right: 5rem;
}

.footer-right-side li {
    list-style-type: none;
}

.footer-right-side li:first-child {
    font-size: 1.8rem;
    line-height: 3.5rem;
    font-weight: 400;
}

.footer-right-side li a {
    font-size: 1.3rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: var(--color-white);
}

footer p {
    font-size: 19px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: var(--color-white);
    padding: 1.2rem;
    margin-bottom: 0 !important;
}