.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style-type: none;
}

nav ul li a {
    margin: 2rem;
    font-size: 1.2rem;
    color: var(--color-black)
}

nav ul li .active {
    color: #E16A00;
    font-weight: 700;
}


.join-us span {
    font-size: 400;
    margin-left: 8px;
    color: var(--color-black)
}

#hamburger-btn {
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
}

.hamburger-line {
    width: 25px;
    height: 4px;
    background: #241400;
    margin: 5px 0;
}
/* .hamburger-open{

} */