/* Global */
a:hover{
    text-decoration: none;
    text-shadow: 0 0 1px #000;
}


/* Generals */

html{
    box-sizing: border-box;
    font-size: 80%;
}
body { font-family: var(--main-font); }


.section-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9rem;
}

.left-side {flex: 1;}

.right-side {flex: 1;}

.left-side h2 {
    font-size: 3.6rem;
    font-weight: 900;
    color: var(--color-black);
    margin-bottom: 1.6rem;
}

.left-side p {
    font-size: 1.3rem;
    line-height: 2.5rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
}


.left-side a {
    background-color: var(--color-orange);
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 1rem 2.4rem;
    font-weight: 900;
    border-radius: 5px;
}



.right-side img {
    max-width: 100%;
}

/* Section two */
.section-two {
    width: 61%;
    margin: 0 auto;
    margin-top: 6.6rem;
    margin-bottom: 6rem;
}

.section-two h2 {
    font-size: 2.5rem;
    line-height: 4.9rem;
    font-weight: 900;
    margin-bottom: 4.7rem;
    text-align: center;
}

.catalog-names {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-names .specific-catalog {
    width: 31%;
    background-color: var(--color-white);
    margin-bottom: 3.6rem;
    text-align: center;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;

}

.catalog-names a {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-black)
}

/* Section Three */

.section-three {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.section-three h2 {
    font-size: 2.5rem;
    line-height: 4.9rem;
    font-weight: 900;
    color: var(--color-black);
    margin-bottom: 3.2rem;
    text-align: center;
}

.numbers-of-data {
    display: flex;
    justify-content: space-between;
}

.numbers-of-data .same-values-part-one {
    font-size: 5rem;
    line-height: 9.8rem;
    font-weight: 900;
    color: var(--color-black);
    margin-right: 2.7rem;
    vertical-align: middle;

}

.numbers-of-data .same-values-part-two {
    font-size: 1.3rem;
    line-height: 2.5rem;
    font-weight: 400;
}

.section-four {
    margin-top: 6rem;
    margin-bottom: 5rem;

}

.section-four h2 {
    font-size: 2.5rem;
    line-height: 4.9rem;
    font-weight: 900;
    margin-bottom: 4.2rem;
    text-align: center;
}

.section-four p {
    font-size: 1.2rem;
    line-height: 2.3rem;
    text-align: center;
}

.section-five {
    margin-top: 5rem;

}

.section-five h2 {
    font-size: 2.5rem;
    line-height: 4.9rem;
    font-weight: 900;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 2.2rem;
}

.section-five .social-medias {
    display: flex;
    justify-content: center;
}

.social-medias img {
    width: 8rem;
    height: 8rem;
    margin: 0 5.4rem;
}