/* index.html */

@media screen and (max-width: 1000px) {
    #hamburger-btn{
        display: block;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* catalog.html */


/* search.html */


/* contact.html */


/* about.html */


/* admin.html */

@media screen and (max-width: 1200px) {
    .admin-form{
        width: 60%;
    }
}
@media screen and (max-width: 640px){
    .admin-form{
        margin-top: 94px;
        width: 90%;
    }
    .admin-form #header{
        font-size: 24px;
        margin-top: 24px;
    }
    #login-btn{
        font-size: 18px;
    }
    #userName,
    #login-btn,
    #password{
        width: 90%;
    }
    #password{
        margin-bottom: 24px;
    }
}