
 

 html{
     box-sizing: border-box;;
     font-size: 62.5%; 
     /* font size 62.5% =  16px(default browser font size) * 62.5 = 10px = 1 rem */
 }

*,
*::before,
*::after {
    box-sizing: inherit;
}


.all-books-and-scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.scroll-bar ul {
   width: 400px;
   overflow-x: auto;
   display: flex;
   align-items: center;
   height: 60px;
     margin-top: 30px;

}

.scroll-bar ul li{
   list-style-type: none;
   margin-right: 10px;
   
   
}

.scroll-bar li a {
    font-size: 15px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 20px;
    background-color: #eee;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    transition: all .2s;
}

.scroll-bar li a:hover {
    background-color: aquamarine;
}

/* Previouis and Next buttons */


.all-books-slider {
    position: relative;
}

.prevBtn,.prevBtn-two,.prevBtn-three {
    position: absolute;
    top: 50%;
    left: 0;
    

}
.prevBtn i,.prevBtn-two i,.prevBtn-three i  {
    font-size: 25px;
}

.nextBtn,.nextBtn-two,.nextBtn-three {
    position: absolute;
    top: 50%;
    right: 0;
}

.nextBtn i,.nextBtn-two i,.nextBtn-three i {
    font-size: 25px;
}


/* In Card */

.card-title {
    font-size: 1.4rem;
}

.card-text {
    font-size: 1.2rem;
}

.card a {
    background-color:#E16A00 ;
    font-size: 1.2rem ;
    color: #fff
}

.card img {
    height: 12rem;
}


.new-icon {
    position: relative;
}

.new-icon span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #EB5757;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
    padding: 2px;

}

/* BestSeller  */

.bestseller-books h2,
.release-books h2 {
    font-size: 25px ;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
